Repository codesquad-masters2025-team01/issue-tracker, pull requests merged in 2025-05, with the labels that each got.

#17 Feature/oauth/#8 login request
  backend/src/main/java/codesquad/team01/issuetracker/IssueTrackerApplication.java
  backend/src/main/java/codesquad/team01/issuetracker/auth/api/AuthController.java
  backend/src/main/java/codesquad/team01/issuetracker/auth/dto/LoginResponse.java
  backend/src/main/java/codesquad/team01/issuetracker/auth/service/AuthService.java
  backend/src/main/java/codesquad/team01/issuetracker/auth/util/AuthorizationUrlBuilder.java
  backend/src/main/java/codesquad/team01/issuetracker/common/config/GithubOAuthProperties.java
  backend/src/main/java/codesquad/team01/issuetracker/common/config/RestTemplateConfig.java
Labels: epic: User Authentication

#18 Feature/#5 issue list api
  backend/build.gradle
  backend/src/main/java/codesquad/team01/issuetracker/common/dto/ApiResponse.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/api/IssueController.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/domain/Issue.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/dto/IssueDto.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/repository/IssueQueryRepository.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/service/IssueAssembler.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/service/IssueService.java
  backend/src/main/java/codesquad/team01/issuetracker/label/dto/LabelDto.java
  backend/src/main/java/codesquad/team01/issuetracker/milestone/dto/MilestoneDto.java
  backend/src/main/java/codesquad/team01/issuetracker/user/dto/UserDto.java
  backend/src/main/resources/data.sql
  backend/src/main/resources/schema.sql
Labels: epic: Issue

#20 2주차 스프린트 피드백 수정
  backend/src/main/java/codesquad/team01/issuetracker/auth/api/AuthController.java
  backend/src/main/java/codesquad/team01/issuetracker/auth/client/GitHubClient.java
  backend/src/main/java/codesquad/team01/issuetracker/auth/domain/User.java
  backend/src/main/java/codesquad/team01/issuetracker/auth/dto/AuthDto.java
  backend/src/main/java/codesquad/team01/issuetracker/auth/dto/LoginRequest.java
  backend/src/main/java/codesquad/team01/issuetracker/auth/dto/LoginResponse.java
  backend/src/main/java/codesquad/team01/issuetracker/auth/repository/UserRepository.java
  backend/src/main/java/codesquad/team01/issuetracker/auth/service/AuthService.java
  backend/src/main/java/codesquad/team01/issuetracker/auth/util/AuthorizationUrlBuilder.java
  backend/src/main/java/codesquad/team01/issuetracker/common/config/DataJdbcConfig.java
  backend/src/main/java/codesquad/team01/issuetracker/common/config/GithubOAuthProperties.java
  backend/src/main/java/codesquad/team01/issuetracker/common/config/RestTemplateConfig.java
  backend/src/main/java/codesquad/team01/issuetracker/user/domain/User.java
  backend/src/main/java/codesquad/team01/issuetracker/user/repository/UserRepository.java
Labels: epic: User Authentication

#21 Refactor/#5 issue list api
  .gitignore
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/codesquad/team01/issuetracker/common/config/DataJdbcConfig.java
  backend/src/main/java/codesquad/team01/issuetracker/common/domain/BaseEntity.java
  backend/src/main/java/codesquad/team01/issuetracker/common/dto/ApiResponse.java
  backend/src/main/java/codesquad/team01/issuetracker/common/exception/GlobalExceptionHandler.java
  backend/src/main/java/codesquad/team01/issuetracker/common/exception/InvalidParameterException.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/api/IssueController.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/domain/Issue.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/domain/IssueState.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/dto/IssueDto.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/repository/IssueQueryRepository.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/repository/impl/JdbcIssueQueryRepository.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/service/IssueAssembler.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/service/IssueService.java
  backend/src/main/java/codesquad/team01/issuetracker/label/domain/LabelTextColor.java
  backend/src/main/java/codesquad/team01/issuetracker/label/dto/LabelDto.java
  backend/src/main/java/codesquad/team01/issuetracker/label/repository/LabelQueryRepository.java
  backend/src/main/java/codesquad/team01/issuetracker/label/repository/impl/JdbcLabelQueryRepository.java
  backend/src/main/java/codesquad/team01/issuetracker/milestone/dto/MilestoneDto.java
  backend/src/main/java/codesquad/team01/issuetracker/user/dto/UserDto.java
  backend/src/main/java/codesquad/team01/issuetracker/user/repository/UserQueryRepository.java
  backend/src/main/java/codesquad/team01/issuetracker/user/repository/impl/JdbcUserQueryRepository.java
  backend/src/main/resources/data.sql
  backend/src/main/resources/schema.sql
Labels: epic: Issue

#23 feature/#5-issue-list-infinite-scroll
  backend/build.gradle
  backend/src/main/java/codesquad/team01/issuetracker/common/exception/CursorException.java
  backend/src/main/java/codesquad/team01/issuetracker/common/exception/GlobalExceptionHandler.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/api/IssueController.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/dto/IssueDto.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/repository/IssueQueryRepository.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/repository/impl/JdbcIssueQueryRepository.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/service/IssueService.java
  backend/src/main/java/codesquad/team01/issuetracker/label/repository/impl/JdbcLabelQueryRepository.java
  backend/src/main/resources/data.sql
Labels: epic: Issue

#30 Feature/#5 count issues api
  backend/src/main/java/codesquad/team01/issuetracker/issue/api/IssueController.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/dto/IssueDto.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/repository/IssueQueryRepository.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/repository/impl/JdbcIssueQueryRepository.java
  backend/src/main/java/codesquad/team01/issuetracker/issue/service/IssueService.java
  backend/src/main/java/codesquad/team01/issuetracker/user/repository/impl/JdbcUserQueryRepository.java
  backend/src/main/resources/schema.sql
Labels: epic: Issue

#33 Feature/login/#15 login
  backend/build.gradle
  backend/src/main/java/codesquad/team01/issuetracker/IssueTrackerApplication.java
  backend/src/main/java/codesquad/team01/issuetracker/auth/api/AuthController.java
  backend/src/main/java/codesquad/team01/issuetracker/auth/domain/RefreshToken.java
  backend/src/main/java/codesquad/team01/issuetracker/auth/dto/AuthDto.java
  backend/src/main/java/codesquad/team01/issuetracker/auth/repository/RefreshTokenRepository.java
  backend/src/main/java/codesquad/team01/issuetracker/auth/service/AuthService.java
  backend/src/main/java/codesquad/team01/issuetracker/auth/service/TokenService.java
  backend/src/main/java/codesquad/team01/issuetracker/auth/util/JwtUtil.java
  backend/src/main/java/codesquad/team01/issuetracker/common/config/PasswordEncoderConfig.java
  backend/src/main/java/codesquad/team01/issuetracker/user/domain/User.java
  backend/src/main/java/codesquad/team01/issuetracker/user/repository/UserRepository.java
  backend/src/main/resources/data.sql
  backend/src/main/resources/schema.sql
Labels: epic: User Authentication

#34 Feature/labels/#25 labels list
  backend/src/main/java/codesquad/team01/issuetracker/issue/domain/Issue.java
  backend/src/main/java/codesquad/team01/issuetracker/label/api/LabelController.java
  backend/src/main/java/codesquad/team01/issuetracker/label/domain/Label.java
  backend/src/main/java/codesquad/team01/issuetracker/label/dto/LabelDto.java
  backend/src/main/java/codesquad/team01/issuetracker/label/repository/LabelRepository.java
  backend/src/main/java/codesquad/team01/issuetracker/label/service/LabelService.java
  backend/src/main/java/codesquad/team01/issuetracker/user/domain/User.java
Labels: epic: Labels
